.container {
    margin-top: 100px;
}

.title {
    margin-bottom: 15px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: grey;
    margin-bottom: 50px;
}

.text p {
    line-height: 1.7;
}

.text h3 {
    margin: 50px 0px 40px 0px;
}